{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro. Impresora</th>
        <th scope="col" style="width: 20%;">Nombre</th>
        <th scope="col" style="width: 10%;">Fecha creación</th>
        <th scope="col" style="width: 10%;">Fecha modificación</th>
        <th scope="col" style="width: 10%;">Alta por usuario</th>
        <th scope="col" style="width: 10%;">Estado</th>
        <th scope="col" style="width: 20%;">Sector asignado</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for p in object_list %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.created }}</td>
            <td>{{ p.modified }}</td>
            <td>{{ p.user }}</td>
            <td>{{ p.active }}</td>
            <td>{{ p.sector_asignado }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}