{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro. Impresora</th>
        <th scope="col" style="width: 30%;">Nombre</th>
        <th scope="col" style="width: 20%;">Fecha creación</th>
        <th scope="col" style="width: 20%;">Fecha modificación</th>
        <th scope="col" style="width: 20%;">Activo</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td>{{ c.impresora_id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.created }}</td>
            <td>{{ c.modified }}</td>
            <td>{{ c.activo }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}